<div class="vg-view">
  <div class="vg-container">
    <p>Test</p>
    <br>
    <input class="vg-btn" type="button" value="test">
    <br>
    <br>
    <input class="vg-btn clear" type="button" value="test">
    <br>
    <br>
    <input class="vg-btn outline" type="button" value="test">
    <br>
    <br>
    <input class="vg-btn outline primary" type="button" value="test">
    <br>
    <br>
    <input class="vg-btn primary" type="button" value="test">
    <br>
    <br>
    <input class="vg-input" type="text" value="test">
  </div>
</div>
