<header class="vg-navbar">
  <div class="vg-nav-button">
    <label for="vg-nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <input type="checkbox" id="vg-nav-check">
    <div class="vg-nav">
      <div class="vg-nav-item">
        <span class="vg-nav-icon">H</span>
        <span class="vg-nav-text">Home</span>
      </div>
    </div>
  </div>
  <span class="vg-app-title">VT</span>
</header>

<div class="vg-view-container">
  <app-vocabulary></app-vocabulary>
</div>