<header class="vg-navbar">
  <div class="vg-container">
    <label for="vg-nav-check" class="vg-nav-btn no-icon">
        <i class="la la-bars"></i>
    </label>
    <input type="checkbox" id="vg-nav-check">
    <div class="vg-nav-pane">
      <a class="vg-nav-item" [routerLink]="''">
        <div class="vg-nav-icon"><i class="la la-home"></i></div>
        <div class="vg-nav-text">Home</div>
      </a>
      <a class="vg-nav-item" [routerLink]="'settings'">
        <div class="vg-nav-icon"><i class="la la-cog"></i></div>
        <div class="vg-nav-text">Settings</div>
      </a>
    </div>
    <span class="vg-app-title">App</span>
  </div>
</header>

<div class="vg-view-container">
  <router-outlet></router-outlet>
</div>
<div class="vg-loader">
  <div class="vg-loader-icon"></div>
</div>
